.DS_Store
testing/to_trash/createEvents.py
testing/to_trash/createLCcorr.py
.gitignore
testing/to_trash/event_file_A
.gitignore
testing/to_trash/event_file_B
testing/to_trash/lccorrfile_A
testing/to_trash/lccorrfile_B
testing/to_trash/nu30702013002A01_cl_barycorr.evt
.gitignore
testing/to_trash/nu30702013002B01_cl_barycorr.evt
testing/generate_dataset.py
testing/__pycache__/test_functions.cpython-311-pytest-8.4.2.pyc
tests/to_trash/event_file_A
tests/to_trash/createLCcorr.py
tests/to_trash/event_file_B
tests/to_trash/createEvents.py
tests/to_trash/nu30702013002B01_cl_barycorr.evt
tests/to_trash/nu30702013002A01_cl_barycorr.evt
tests/__pycache__
scripts/__pycache__
pytest.ini
scripts/__pycache__/barycenter_corr.cpython-311.pyc
scripts/__pycache__/calculate_average_rate.cpython-311.pyc

tests/data/generate_dataset.py
tests/to_trash/edit_test_fits.py
tests/to_trash/generate_data.py
tests/test_output/lccorrfile_C
tests/to_trash/lccorrfile_A
tests/to_trash/lccorrfile_B
tests/test_output/event_file_C
