site_name: CMSE 890 Final Project

nav:
- Explanation: explain.md
- How-To Install: howto.md
- Tutorials: tutorial.md
- API reference: 
  - API: API_homepage.md


plugins:
- search
- mkdocstrings

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption


